<div class="card-outer">
    <div class="card-login" style="width: 50rem;height:500px">
      <div class="card-header">
        <h1 class="text-center">FundTransfer</h1>
      </div>
      <div class="card-body"style="height: 476;width:302;">
        <form class="form-group" #fundTransferForm="ngForm" (ngSubmit)="handlefundTransfer(fundTransferForm.value)">
           <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="fromaccount"> From Account </label>
            <input type="number" class="form-control" id="fromAccount" ngModel placeholder="Enter Account Number"
              name="fromAccount" required>
          </div>
          <div class="form-group">
            <label for="toAccount"> To Account</label>
            <input type="number" class="form-control" id="toAccount" ngModel placeholder="Enter Account Number"
              name="toAccount" required>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" ngModel placeholder="Enter Amount"
              name="amount" required>
          </div>
          <input type="submit" [disabled]="!fundTransferForm.form.valid"  class="btn btn-success btn-all" name="submit" value="submit"/>
        </form>
      </div>
       
    </div>
  </div>

