
<div class="card-outer">
   
    <div class="card-login">
      <div class="card-header">
        <h1 class="text-center">Change Password</h1>
      </div>
      <div class="card-body" >
        <form class="form-group" #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <div class="form-group" > 
          
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" ngModel placeholder="Enter old Password" 
                name="oldPassword" >
            </div>
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" ngModel placeholder="Enter new Password"
              name="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmPassword">confirm Password</label>
            <input type="number" class="form-control" ngModel id="confirmPassword" placeholder="Enter confirmPassword"
              name="confirmPassword">
          </div>
         
        
          <input type="submit" [disabled]="!changePasswordForm.form.valid"  class="btn btn-success btn-all" name="changePassword" value="change Password"/>
        </form>
      </div>
       
    </div>
  </div>
