<div class="container card-outer">
   
    <div class="card-login " style="width:max-content;" >
      <div class="card-header"> <h1 class="text-center">{{Title}}</h1></div>
      <div class="card-body">
        <form class="form-group" #addCustomerForm="ngForm" (ngSubmit)="editCustomer(addCustomerForm.value)">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-row card-form-row">
            <div class="form-group col-md-6"> 
          
              <label for="name">Customer Id</label>
              <input type="number" class="form-control" id="customerId" ngModel 
                name="customerId" disabled>
            </div>
            <div class="col-md-6" >
              <div class="form-group"> 
          
                <label for="name">Customer name</label>
                <input type="text" class="form-control" id="name" #name="ngModel" ngModel placeholder="Enter Customer Name"
                  name="name" required minlength="4" [ngClass]="{ 'is-invalid': name.errors }">
                  <div class="row">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="invalid-feedback" style="width: fit-content;">
                
                  <div *ngIf="name.errors?.['required']">
                    Name is required.
                  </div>
                  <div *ngIf="name.errors?.['minlength']">
                    Name must be at least 4 characters long.
                  </div>
                  <!-- <div *ngIf="name.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div> -->
                </div>

                </div>
            
            
             </div>
            </div>
           
         
   

          </div>

          <div class="form-row card-form-row">

          <div class="form-group col-md-6">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName" ngModel placeholder="Enter user Name" #userName="ngModel"
              name="userName" required  [ngClass]="{ 'is-invalid': userName.errors }">>
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
              class="invalid-feedback error">
          
            <div *ngIf="userName.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="userName.errors?.['minlength']">
              Username must be at least 4 characters long.
            </div>
           
          
          </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email:</label>
            <input type="email" class="form-control" ngModel id="email" placeholder="Enter Email"
              name="email"required email #email="ngModel"  [ngClass]="{ 'is-invalid': email.errors }">>
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="invalid-feedback error">
          
            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors?.['email']">
             Please provide a valid email address
            </div>
          
          
          </div>
          </div>
        </div>
        

        
          <div class="form-group form-row" style="justify-content: space-between;">
           
            <label for="gender" class="col-md-4">Gender:</label>
            <div class="col-md-4">
              <input type="radio" value='MALE'  name="gender" [checked]="isSelectedMale" ngModel  class="col-md-6" required><label>Male</label>
            </div>
            <div class="col-md-4">
  <input type="radio" value='FEMALE'  name="gender" ngModel [checked]="isSelectedFemale"  required><label>Female</label>
  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
  class="invalid-feedback">

<div *ngIf="name.errors?.['required']">
  Name is required.
</div>
<div *ngIf="name.errors?.['minlength']">
  Name must be at least 4 characters long.
</div>


</div> -->
  </div>

          </div>

          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dateofbirth">Date of Birth:</label>
            <input type="date" class="form-control" id="dateOfBirth" ngModel 
              name="dateOfBirth" required >
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="invalid-feedback">
          
            <div *ngIf="name.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
           
          
          </div> -->
          </div>
          
         
         
          <div class="form-group col-md-6">
            <label for="phone"> telephone Number:</label>
            <input type="number"  minlength="10" maxlength="10" class="form-control" id="phone" ngModel placeholder="Enter Telephone Number"
              name="phone"required>
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="invalid-feedback">
          
            <div *ngIf="name.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
            
          
          </div> -->
          </div>
        </div>
       
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="flatNumber">flatNo:</label>
              <input type="number" class="form-control" ngModel id="flatNumber" placeholder="Enter flat No"
                name="flatNumber"required>
                <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="invalid-feedback">
            
              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
             
            
            </div> -->
            </div>
          <div class="form-group col-md-6">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" ngModel placeholder="Enter City"
              name="city"required>
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="invalid-feedback">
            
              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
              
            
            </div> -->
            
          </div>
          <div class="form-group col-md-6">
            <label for="state">state:</label>
            <input type="state" class="form-control" ngModel id="state" placeholder="Enter state"
              name="state"required>
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="invalid-feedback">
            
              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
             
            
            </div> -->
            </div>
              <div class="form-group col-md-6">
                <label for="pincode">  pincode:</label>
                <input type="pincode" class="form-control" ngModel id="pincode" placeholder="Enter pincode"
                  name="pincode"required >
                  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="invalid-feedback">
              
                <div *ngIf="name.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                  Name must be at least 4 characters long.
                </div>
               
              
              </div> -->
              </div>

          </div>
         
  

          
          <input type="submit" [disabled]="!addCustomerForm.form.valid" class="btn btn-success btn-all" name="Submit" value="Submit"/>
        </form>
      </div>
       
    </div>
  </div>
