
<div class="card-outer">
   
    <div class="card-login">
      <div class="card-header">
        <h1 class="text-center">{{Title}}</h1>
      </div>
      <div class="card-body" >
        <form class="form-group" #addAccountForm="ngForm" (ngSubmit)="addAccount(addAccountForm.value)">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <div class="form-group col-md-6" *ngIf="isEditable"> 
          
              <label for="name">Customer Id</label>
              <input type="number" class="form-control" id="customerId" ngModel 
                name="customerId" disabled>
            </div>
            <label for="customerId">customerId</label>
            <input type="number" class="form-control" id="name" ngModel placeholder="Enter customerId"
              name="customerId">
          </div>
          <div class="form-group">
            <label for="initialDeposit">initial Deposit</label>
            <input type="number" class="form-control" ngModel id="initialDeposit" placeholder="Enter initialDeposit"
              name="initialDeposit">
          </div>
          <div class="form-group">
           
       
            <label for="accountType" style="margin-right:20px">accountType</label>
              <input type="radio" value='SAVING'  name="accountType" ngModel>Saving
  <input type="radio" value='CURRENT'  name="accountType" ngModel >Current

          </div>
        
          <input type="submit" [disabled]="!addAccountForm.form.valid"  class="btn btn-success btn-all" name="createAccount" value="Create Account"/>
        </form>
      </div>
       
    </div>
  </div>