<!-- <div    >   -->
    <nav class="navbar card-login" *ngIf="isLoggedIn$ | async as isLoggedIn">  
      <div class="container-fluid">
       
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 no-bullets">  
            <li class="nav-item ">  
              <a routerLink="login" class="nav-link" class="nav-linkbtn btn-primary active"  *ngIf="!isLoggedIn$">Login</a>  
            </li>   
            <li class="nav-item">  
              <a  routerLink="dashboard" id="dashboard" class="nav-link"  >Dashboard</a>  
            </li> 
            <li class="nav-item">  
              <a  routerLink="profile"  id="profile" class="nav-link"  >Profile</a>  
            </li> 
            <li class="nav-item">  
              <a  routerLink="logout" id="logout"  class="nav-link"  (click)="onLogout()" *ngIf="isLoggedIn" >Log Out</a>  
            </li>            
          </ul>
       
        
      </div>  
      </nav>     
        <!-- <router-outlet></router-outlet> -->
    <!-- </div>   -->
    <!-- <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text">
            Navbar text with an inline element
          </span>
        </div>
        <router-outlet></router-outlet>  
      </div>
    </nav> -->